{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                 <li class="sidebar-brand">
                        Administración de Proyecto
                </li>

                    {%if proyecto.estado != 'Finalizado'  or proyecto.estado != 'Cancelado' %}
                        {% if perms.proyectos.asignar_usuario%}
                           <li>
                                <a href="{% url 'asignar_usuario_proyecto' proyectoid %}" >Asignar Usuario al Proyecto</a>
                            </li>
                             <li>
                                <a href="{% url 'modificarProyecto' proyectoid%}">Modificar Proyecto</a>
                            </li>
                            <li>
                                <a href="{% url 'CrearTipoUS' proyectoid%}">Crear Tipo de US</a>
                            </li>
                        {%endif%}
                        <li>
                            <a href="{% url 'ListarUS' proyectoid %}" >User Stories </a>
                        </li>
                        <li>
                            <a href="{% url 'ListarSprint' proyectoid %}" >Sprints </a>
                        </li>
                    {%endif%}

                    <li>
                        <a href="{% url 'ConsultarBacklog' proyectoid %}" >Informe Backlog </a>
                    </li>
                    {%if proyecto.estado != 'Finalizado' or proyecto.estado != 'Cancelado'%}
                        <li>
                            <a href="{% url 'listarFlujos' proyectoid %}" >Flujos </a>
                        </li>
                    {%endif%}
                     <li class="sidebar-brand">
                        ____________________
                     </li>
               
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
					&rsaquo; Resumen de Proyecto
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">

					    <h2  class="list-group-item active">
								Resumen del Proyecto
                        </h2>
                        <div class="form-group ">
                            <label for="nombre">Nombre: {{ proyecto.nombre }}</label>
                        </div>
                        <div class="form-group ">
                            <label for="scrum">Scrum Master: {{ proyecto.scrum_master }}</label>

                        </div>
                        <div class="form-group">
                            <label for="FechaInicio" class="date-icon">Fecha de inicio: {{ proyecto.fechaInicio }}</label>
                            </div>
                        <div class="form-group ">
                            <label for="FechaFin" class="date-icon">Fecha de finalización: {{ proyecto.fechaFin }} </label>
                        </div>
                        <div class="form-group" >
                            <label for="option">Estado: {{ proyecto.estado }}</label>
                        </div>

                        <h2  class="list-group-item active">
								Miembros Del Proyecto
                        </h2>
                        {% for usuario in lista_nombres%}
                            {% if proyecto.nombre == usuario.proyecto %}
                                <div class="form-group">
                                        <label>{{ usuario.usuario}} - ({{ usuario.rol}}) - {{us.captrabajo}} - {{us.trabasignado}}</label><br>
                                </div>
                            {% endif %}
                        {% endfor %}

                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
