<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comentar</title>
</head>
<body>

{% block content %}
    <h1>Daily</h1>
    <h2>Preguntas a responder</h2>
    <p> ¿Que he hecho? </p>
    <p> ¿Que voy a hacer?</p>
    <p> ¿Que problemas tengo?</p>


    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Enviar</button>
    </form>
{% endblock %}

</body>
</html>