{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administración de Backlog
                </li>
                <li>
                         <a href="{% url 'SprintBacklog' proyectoid %}"> Informe Sprint Backlog</a>
                    </li>
                <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                    <a href="{% url 'ver_proyecto' proyectoid %}">Atrás</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; Product Backlog
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">

					    <h2  class="list-group-item active">
								Product Backlog
                        </h2>
                        {% if  backlog %}
						    <table>
                                <th scope="row">Nombre del UserStory</th>
                                <th scope="row">Usuario Asignado</th>
                                <th scope="row">Sprint</th>
                                <th scope="row">Tipo </th>
                                <th scope="row">Estado </th>
                                <th scope="row">Tiempo Planificado</th>
                                <th scope="row">Prioridad </th>
                                <th scope="row">Detalles </th>
                                {% for us in backlog%}
                                    <tr>
                                        <th scope="row"> {{ us.nombreUS }}</th>
                                        <th scope="row"> {{ us.usuario_asignado.user.username}}</th>
                                        <th scope="row"> {{ us.sprint.nombre }}</th>
                                        <th scope="row"> {{ us.tipoUS.nombre }}</th>
                                        <th scope="row"> {{ us.estado }}</th>
                                        <th scope="row"> {{ us.tiempo_planificado }}</th>
                                        <th scope="row"> {{ us.prioridad }}</th>
                                        <td scope ="row"> <a class ="addlink" href="{% url 'VerUS' us.id proyectoid %}"> Ver US </a></td>
                                    </tr>
                                {% endfor %}
						    </table>
                        {% else%}
                            <div class="alert-danger form-control">El proyecto no tiene US</div>
					    {% endif %}
                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
