{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administracion de US
                </li>
                <li class="sidebar-brand">
                        ____________________
                 </li>
                <li>
                    <a href="{% url 'ListarSprint' proyectoid %}" >Atras</a>
                </li>
                 <li>
                    <a href="{% url 'ver_proyecto' proyectoid %}">Proyecto</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
                    &rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; <a href="{% url 'ListarSprint' proyectoid %}" >Sprints del Proyecto</a>
                    &rsaquo; Asignar US al Sprint
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <!-- <div class="col-lg-12"> -->
                        <div class="col-lg-8">
                            <h3  class="list-group-item active">
                                    Lista de US sin Asignar
                            </h3>
                            {% if lista_us %}
                                <table>
                                    {% for us in lista_us %}
                                        {% if not us.sprint%}
                                            <tr>
                                                <th scope="row"> {{ us.nombreUS }}</th>
                                                <td > <a class ="addlink" href="{% url 'AsignarUSSprint' us.id Sp.id proyectoid %}"> Elegir </a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            {% endif %}
                            <h3 class="list-group-item active">
                                    Lista de US asignados al Sprint
                            </h3>
                            {% if lista_us %}
                                <table>
                                    {% for us in lista_us %}
                                        {% if us.sprint and us.sprint.id == Sp.id %}
                                            <tr>
                                                <th scope="row"> {{us.nombreUS}}</th>
                                                <td > <a class ="addlink" href="#"></a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                        <div class="col-lg-4">
                            <label class=" alert">Capacidad Total: {{ diashoras }}</label>
                            <label class=" alert">Horas Utilizadas: {{tiempoasignado}}</label>
                            <label class=" alert">Horas Disponibles: {{horas}}</label>

                        </div>
                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                   <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock%}
