{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administración de Sprint
                </li>
                {% if perms.Sprints.crear_sprint%}
                    <li>
                        <a href="{% url 'CrearSprint' proyectoid %}" >Crear Sprint</a>
                    </li>
                {%endif%}
                <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                    <a href="{% url 'ver_proyecto' proyectoid %}">Atrás</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; Sprints del Proyecto
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">

					    <h2  class="list-group-item active">
								Sprints del Proyecto
                        </h2>
                        {% if listar_sprint %}
						    <table>
									{% for sp in listar_sprint%}
                                    <tr>
                                        {% if sp.estado == 'Cancelado' or sp.estado == 'Finalizado' %}
                                            <th scope="row"> {{sp.nombre}}</th>
                                            <td>{{sp.estado}}</td>
                                        {% else %}
                                            <th scope="row"> {{ sp.nombre }}</th>
                                                {% if perms.Sprints.crear_sprint%}
													<td> <a  href="{% url 'DetSprint' sp.id proyectoid %}"> Informe </a></td>
                                                    <td> <a  href="{% url 'ModificarSprint' sp.id %}"> Modificar </a></td>
                                                    <td> <a  href="{% url 'ElegirMiembroSprint' sp.id proyectoid%}"> Asignar  Miembros </a></td>
                                                    <td> <a  href="{% url 'ElegirUSSprint' sp.id proyectoid%}"> Asignar User Story</a></td>
                                                    <td > <a class ="addlink" href="{% url 'ListaUS' proyectoid sp.id  %}"> Asignar/Desasignar Usuario a User Story</a></td>
                                                    <td> <a class ="addlink" href="{% url 'ElegirFlujoSprint' sp.id proyectoid%}"> Asignar Flujo</a></td>

                                                {% endif %}
                                        <td> <a class ="addlink" href="{% url 'listarFlujosSprint' sp.id%}"> Flujos del Sprint</a></td>
                                        <td> <a class ="addlink" href="{% url 'listarFlujosSprint' sp.id%}"> Informe del Sprint</a></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
							   </table>
					    {% endif %}

                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
