{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administración de Sprint
                </li>

                <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                        <a href="{% url 'ConsultarBacklog' proyectoid %}" >Atrás </a>
                    </li>
                <li>
                    <a href="{% url 'ver_proyecto' proyectoid %}">Proyecto</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a class="add" href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; Sprint Backlog
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">

					    <h2  class="list-group-item active">
								Sprint Backlog
                        </h2>
                        {% if  sprintb %}
                        <table>
                            {% for sp in sprintb %}
                                <h2  class="list-group-item-info form-control">
                                    {% if sp.estado == 'Cancelado' or sp.estado == 'Finalizado' %}
                                        {{sp.nombre}}  - {{ sp.estado }}
                                    {% else %}
                                        <a  href="{% url 'DetSprint2' sp.id proyectoid %}">->{{sp.nombre}}</a>
                                    {% endif %}
                                </h2>
                                {% for us in backlogus %}
                                    <tr>
                                        {% if  us.sprint.nombre == sp.nombre %}
                                            <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;-   {{ us.nombreUS }}</th>
                                            <th scope="row">   {{ us.usuario_asignado.user.username }}</th>
                                            <th scope="row">   {{ us.estado }}</th>
                                            <th scope="row">   {{ us.tiempo_planificado }}</th>
                                            <th scope="row">   {{ us.total_horas_trabajo }}</th>
                                            <td > <a class ="add" href="{% url 'VerUS2' us.id proyectoid %}"> Detalles del US </a></td>
                                        {%endif%}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>

					    {% endif %}

                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
