{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administración de Backlog
                </li>
                <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                    <a href="{% url 'verFlujoSprint' flujo.id sprintid %}">Atras</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
                    &rsaquo; <a href="{% url 'ListarSprint' proyectoid %}" >Sprints</a>
                    &rsaquo; <a href="{% url 'listarFlujosSprint' sprintid %}">Flujos del Sprint</a>
                    &rsaquo; <a href="{% url 'verFlujoSprint' flujo.id sprintid %}">Ver Flujo</a>
					&rsaquo; Cambiar Estado US
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>

                <div class="row">
                    <div class="col-lg-12">

					    <h2  class="list-group-item active">
								Resumen de User Story {{ uStory.nombreUS }}
                        </h2>
                        <form class="" method="POST">
                            {% csrf_token %}
                        <div class="form-group ">
                            <label>Nombre: {{ uStory.nombreUS }}</label>
                        </div>
                        <div class="form-group">
                            <label >Usuario Encargado: {{uStory.usuario_asignado.user.username}}</label>
                        </div>
                        <div class="form-group">
                            <label >Prioridad: {{uStory.prioridad}}</label>
                        </div>
                        <div class="form-group">
                            <label >Tiempo estimado: {{uStory.tiempo_planificado}}</label>
                        </div>
                            <div class="form-group">
                            <label >Horas Trabajadas (reales): {{uStory.total_horas_trabajo}}</label>
                        </div>
                        <div class="form-group">
                            <label >Sprint Asociado: {{uStory.sprint.nombre}}</label>
                        </div>
                        <div class="form-group">
                            <label >Tipo de User Story: {{uStory.tipoUS.nombre}}</label>
                        </div>
                        <div class="form-group ">
                            {% if user == uStory.usuario_asignado.user %}
                                <label >Notas:</label>
                                <textarea class="form-control" name="notas" rows="2" cols="30" value="">{{uStory.notas}}</textarea>
                            {% else %}
                                <label >Notas: {{uStory.notas}}</label>
                            {% endif %}
                        </div>
                        <div class="form-group ">
                            <label >Descripcion Corta: {{uStory.descripcion_corta}}</label>
                        </div>
                        <div class="form-group ">
                            <label >Descripcion Larga: {{uStory.descripcion_larga}}</label>
                        </div>
                            {% if user == uStory.usuario_asignado.user %}
                                <div class="form-group ">
                                    <label for="nombre"> Cantidad de horas trabajadas</label>
                                    <input class="form-control" name="cat_horas_trabajadas" type="number" min="1" required>
                                </div>
                                <button class="btn bg bottom-left" name="boton" value="retrocederUnUS">Volver al Estado Anterior</button>
                                <button class="btn bg bottom-right" name="boton" value="cambiar">Cambiar de Estado</button>
                                <br>
                            {% endif %}
                        </form>
                        {% if mensaje %}
                            <div class="alert-warning" role="alert">
                                {{ mensaje }}
                            </div>
                        {% endif %}
                       <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if perms.flujos.crear_flujo and ultimaActividad == uStory.actividad and uStory.estado == 'Hecho'%}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn bg bottom-left" name="boton" value="retroceder">Hacer Retroceder el US</button>
                                    <button class="btn bg bottom-right" name="boton" value="terminar">Terminar el US</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
