{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">
	


        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                 <li class="sidebar-brand">
                        <h3> Usuario: {{user.username}}  </h3>
                </li>
                <li class="sidebar-brand">
                        Administración
                </li>
                <li>
                    <a href="{% url 'crearusuario' %}" rel="next">Crear Usuario</a>
                </li>
				 <li>
                    <a href="{% url 'listaruser' %}">Eliminar Usuario</a>
                </li>
				 <li>
                    <a href="{% url 'crearproyecto' %}">Crear Proyecto</a>
                </li>
                <li class="sidebar-brand">
                        ____________________
                 </li>
				<li>
                    <a href="{% url 'homepage' %}" rel="next">Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
			
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; Administracion
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
			
                <div class="row">
                    <div class="col-lg-12">
                     <h1  class="list-group-item active">Administracion del Sistema</h1>
						
                      <h4><p>En este modulo el administrador puede Crear proyectos,  Crear Usuarios y Eliminarlos</p></h4>
						
						
						
						
						
						
						
						
						
                     <!--   <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}