<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="es">
<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

    <style type="text/css">
        #page-content-wrapper  .bg-primary{
            float: right;
            color: #ffffff;
            background-color:#000000;
        }

        #page-content-wrapper .row table th {
            width: 100%;
        }
        #page-content-wrapper .row table td {
            white-space: nowrap;
        }
        #page-content-wrapper .row table td a {
            display: block;
            padding-right: .6em;
        }
        table {
            border-collapse: collapse;
            border-color: #ccc;
        }
        td, th {
            font-size: 13px;
            line-height: 16px;
            border-bottom: 1px solid #eee;
            vertical-align: top;
            padding: 8px;
            }

        th {
            font-weight: 600;
            text-align: left;
        }






    </style>
    {% block head %}{% endblock %}
</head>

<body>


        {% block body %}{% endblock %}


<!--
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

-->
     <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>




</body>
</html>