{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li class="sidebar-brand">
                        Gestor de Proyectos
                </li>
                <li>
                    <a href="{% url 'micuenta' %}">Mi Cuenta</a>
                </li>
				 <li>
                    <a href="{% url 'elegirProyecto' %}">Proyectos</a>
                </li>
                {% if perms.usuario.admin or perms.proyectos.admin%}
                     <li>
                        <a href="{% url 'administracion' %}">Administración</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumbs">
					        <div class="btn bg-primary">
                                <a href="{% url 'logout' %}">Cerrar Sesion</a>
                            </div>

				        </div>
                        <h1>
                        </h1>
                       <h1>____________________________________________________  </h1>
                        <h1  class="list-group-item active">
								GESTOR DE PROYECTOS  -  SGP
						</h1>
                        <h3>Bienvenido/a: {{user}}  </h3>
                        <h1>  </h1>
                         <h5>__________________________________________________________________________________________________________________________________ </h5>
                        <section class="col-md-9">
                            <h4><p>SGP ayuda a monitorear proyectos utilizando  metodologías ágiles Scrum y Kanban </p></h4>
                        </section>

                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock%}
